---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于这个博客</h2>
        <div class="tag-post-list">
          <ul>
            <li>自闭底层CRUD程序员的日常记录</li>
            <li>我的狂欢之地,博文会有时发癫</li>
            <li>我预见的从来都不会按照我想到的发生</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="null" target="_blank"> 讨厌马斯克,没有Twitter</a>
            </li>
            <li>
              <a href="https://github.com/ChaosCreeper" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
