---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="/" target="_blank">本站博客</a>
            <a href="/about" target="_blank">关于我</a> 
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="null" target="_blank"> 没有Twitter</a>
            <a href="https://github.com/ChaosCreeper" target="_blank">只有Github</a>
            <a href="null" target="_blank">没有Telegram</a>
          </div>
          
          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="https://schele-4591.xlog.app/" target="_blank">朋友</a>
            <a href="https://yufengbiji.com" target="_blank">介绍了怎么部署这个博客的人</a>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`} 
          <a href="//github.com/austin2035/astro-air-blog">Astro-air-blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
